body,
html {
    margin: 0 auto;
}

/* 헤더 ---------------------------------------------------------- */
header {
    background-color: #111; padding: 0 160px; height: 62px;
    display: flex; align-items: center;
}
header .nav_menu {display: flex; width: 1600px;}
header .nav_menu h1 a img {width: 65px;}
header .nav_menu .gnb {
    align-items: center; display: flex; width: 100%; justify-content: center;
}
header .nav_menu .gnb ul {display: flex;}
header .nav_menu .gnb ul li a {
    color: #fff; font-size: 0.875rem; display: inline-block; text-align: center;
    margin-right: 45px; font-weight: 350;
}
header .nav_menu .icon_menu {display: flex; align-items: center;}
header .nav_menu .icon_menu ul {display: flex;}
header .nav_menu .icon_menu ul li a img {width: 23px; height: 23px; margin-right: 21px;}

/* 메인 배너 ---------------------------------------------------------- */
#wrap .banner-section .banner .swiper-wrapper .swiper-slide a img {position: relative;}
.puffer_write_01 {
    position: absolute; top: 300px; left: 750px; text-align: center;
}
.puffer_write_01 h2:nth-of-type(1) {color: #fff; font-size: 2.063rem; font-family: "Amethysta", serif; margin-bottom: 18px;}
.puffer_write_01 h2:nth-of-type(2) {color: #fff; font-size: 3.125rem; font-family: "Amethysta", serif; margin-bottom: 45px;}
.puffer_write_01 p {color: #fff; font-size: 1.438rem; font-family: "Amethysta", serif;}
.puffer_write_01 .view_more {
    color: #fff; font-size: 0.75rem; width: 110px; height: 39px;
    border: 1px solid #fff; display: inline-block; font-weight: 300;
    letter-spacing: 0.7px; align-items: center; display: flex; justify-content: center;
    margin-left: 130px; margin-top: 70px;
}
.view_more {
    color: #fff; font-size: 0.75rem; width: 110px; height: 39px;
    border: 1px solid #fff; display: inline-block; font-weight: 300;
    letter-spacing: 0.5px; align-items: center; display: flex; justify-content: center;
}
.view_more:hover {
    color: #000; font-size: 0.75rem; width: 110px; height: 39px; background-color: #fff;
    border: 1px solid #fff; display: inline-block; font-weight: 400;
    letter-spacing: 0.5px; align-items: center; display: flex; justify-content: center;
}


/* Our Story ---------------------------------------------------------- */
.our_story {display: flex; justify-content: center; height: 752px; align-items: center;}
.left_our a img {
    width: 548px; height: 524px; margin-right: 107px;
    border-top-right-radius: 50px; border-bottom-right-radius: 50px;
}
.right_our h2 {font-size: 2.5rem; font-family: "Amethysta", serif; display: inline-block; margin-bottom: 25px;}
.right_our .our {color: #636363; font-size: 0.938rem; line-height: 190%; margin-bottom: 31px;}
.right_our .our:nth-of-type(1) {color: #636363; font-size: 0.938rem; line-height: 190%; margin-bottom: 12px;}


.view_more_gray {
    color: #7E7E7E; font-size: 0.75rem; width: 110px; height: 39px;
    border: 1px solid #cecece; display: inline-block; font-weight: 300;
    letter-spacing: 0.5px; align-items: center; display: flex; justify-content: center;
}
.view_more_gray:hover {
    color: #fff; font-size: 0.75rem; width: 110px; height: 39px; background-color: #2D2D2D;
    border: 1px solid #fff; display: inline-block; font-weight: 350;
    letter-spacing: 0.5px; align-items: center; display: flex; justify-content: center;
}


/* 카테고리 ---------------------------------------------------------- */
.category {background-color: #2d2d2d; height: 837px; display: flex; justify-content: center;}
.left_section {display: flex; flex-flow: column; justify-content: center; margin-right: 132px;}
.left_section h2 {color: #fff; font-size: 2.813rem; font-family: "Amethysta", serif; display: inline-block; margin-bottom: 25px;}
.left_section p {color: #fff; font-size: 0.938rem; line-height: 190%; font-weight: 300;}
.right_section {display: flex;}
.second {display: flex; align-items: center; margin-top: 16px;}
.first {display: flex; align-items: center; position: relative;}
.first a img { margin-right: 15px;}
.first p {color: #fff; font-size: 1.2rem; line-height: 150%; position: absolute; bottom: 140px; left: 40px; z-index: 999;}
.second_01 .second_cate {position: relative; }
.second_01 .second_cate a img { margin-bottom: 15px; margin-right: 15px;}
.second_01 .second_cate p {
    position: absolute; z-index: 999; color: #fff;
    font-size: 1.063rem; font-weight: 400; line-height: 160%; bottom: 35px; left: 20px;
}


/* 베스트 셀러 ---------------------------------------------------------- */
.best_seller {padding: 212px 160px; display: flex;}
.best_seller h2 {
    font-size: 2.813rem; font-family: "Amethysta", serif; line-height: 120%; display: inline-block; margin-bottom: 13px;
    margin-top: 16px;
}
.best_seller p {color: #7E7E7E; font-size: 0.875rem; display: block; margin-bottom: 35px; width: 229px; width: 100%;}
.more_view ul li {margin-bottom: 12px;}
.more_view ul li a {
    color: #7E7E7E; font-size: 0.875rem; display: inline-block; padding-bottom: 2px;
    width: 104px; height: 39px; border: 1px solid #C8C8C8; border-radius: 50px; align-items: center; display: flex;
    justify-content: center;
}
.best_seller .best_left {margin-right: 56px;}
.best_seller .best_right .best_seller_list .swiper-wrapper .swiper-slide {
    width: 324px; margin-right: 20px; margin-bottom: 20px;
}
.best_seller .best_right .best_seller_list .swiper-wrapper .swiper-slide a img {margin-bottom: 15px;}
.best_seller .best_right .best_seller_list .swiper-wrapper .swiper-slide a .best_b {
    color: #000; margin-bottom: 13px; font-size: 0.875rem;
}
.best_seller .best_right .best_seller_list .swiper-wrapper .swiper-slide a .best_b1 {
    color: #7E7E7E; font-size: 0.875rem; margin-bottom: 25px;
}
.best_seller_list {
    width: 1300px;
    height: auto;
    overflow: hidden;
}

.best_seller_list .swiper-scrollbar {
    height: 2px;        /* 두께 */
    background: #eee;   /* 배경 */
    width: 100% !important;

}
.best_seller_list .swiper-scrollbar {
    --swiper-scrollbar-size: 2px; 
}

.best_seller_list .swiper-scrollbar-drag {
    background: #2D2D2D;   /* 스크롤 드래그 바 색상 */
    height: 2px;   
}

.swiper-scrollbar-horizontal {left: 0 !important;}

.product_flex {display: flex; justify-content: space-between;}
.product_flex .product_detail a {font-size: 0.875rem;}

.more_check a {color: #7E7E7E; font-size: 0.813rem; display: flex; justify-content: right;}
.more_check a img {transform: scaleX(-1); width: 14px; margin-left: 5px; margin-bottom: 11px;}



/* 뉴 아이템 ---------------------------------------------------------- */
.new_product {
    background-color: #2D2D2D;
    padding: 120px 160px;
    align-items: center;
    text-align: center;
    height: 892px;
}

.new_product h2 {
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
    font-size: 2.813rem;
    font-family: "Amethysta", serif;
}

.new_product .daily {
    color: #fff;
    font-size: 0.875rem;
    margin-bottom: 55px;
}

.new_flex {
    display: flex;
    position: relative;
    transition: 0.4s ease;
}

.new_01, .new_02, .new_03 {
    margin-right: 30px;
}

/* 이미지 기본 설정 */
.new_flex img {
    transition: 0.4s ease;
}

/* 이미지 hover - 부모 div hover로 처리 */
.new_flex > div:hover img {
    opacity: 0.2;
}

/* 텍스트 */
.new_flex .text {
    position: absolute;
    top: 20%;
    transition: 0.4s ease;
    display: flex;
    flex-flow: column;
    align-items: center;
    opacity: 0;
    pointer-events: none; /* 텍스트가 마우스 이벤트 방해 안 함 */
}

.new_flex .text .new {
    font-size: 1.063rem;
    color: #fff;
    margin-bottom: 25px;
    display: inline-block;
    opacity: 0;
    font-weight: 350;
}

.new_flex .text p {
    color: #fff;
    margin-bottom: 13px;
    margin-left: 60px;
    font-size: 0.875rem;
    opacity: 0;
    font-weight: 300;
}

.new_flex .text p:nth-last-child(2) {
    margin-bottom: 40px;
}

.new_flex .text .detail {
    line-height: 160%;
    margin-top: 20px;
}

/* 개별 텍스트 위치 */
.new_flex .new_01 .text { margin-left: 3px; margin-top: 31px; }
.new_flex .new_02 .text { margin-left: -11px; margin-top: 31px; }
.new_flex .new_03 .text { margin-left: 18px; margin-top: 31px; }
.new_flex .new_04 .text { margin-left: 37px; margin-top: 31px; }

/* 텍스트 hover */
.new_flex > div:hover .text,
.new_flex > div:hover .text .new,
.new_flex > div:hover .text p {
    opacity: 1;
}

/* 버튼 */
.view_more_new {
    pointer-events: auto; /* 버튼 hover 가능 */
    color: #fff;
    font-size: 0.75rem;
    width: 110px;
    height: 39px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-left: 50px;
    transition: 0.3s ease;
}

.view_more_new:hover {
    color: #000;
    background-color: #fff;
    font-weight: 400;
}


/* 향기 소개 시작 페이지 ---------------------------------------------------------- */
.good_per {height: 714px; background-image: url(../images/good_memory.png); object-fit: cover;}
.good_per h3 {
    color: #fff; font-size: 1.563rem; font-family: "Amethysta", serif;
    margin-bottom: 30px; display: inline-block; display: flex; justify-content: center; padding-top: 80px;
}
.good_per .good_perf {color: #fff; margin-bottom: 30px; font-weight: 300;}
.good_per p {color: #fff; font-size: 0.938rem; line-height: 170%; text-align: center; font-weight: 300;}


/* 베스트 향기 ---------------------------------------------------------- */
.best {padding: 130px 161px 30px 161px; text-align: center;}
.best p {color: #7E7E7E; font-size: 0.875rem; margin-bottom: 15px;}
.best h2 {font-size: 2.5rem; font-family: "Amethysta", serif;}

.more_view_best ul {display: flex; justify-content: center; margin-top: 30px;}
.more_view_best ul li {margin-right: 7px;}
.more_view_best ul li a {
    color: #7E7E7E; font-size: 0.875rem; display: inline-block; padding-bottom: 2px;
    width: 104px; height: 39px; border: 1px solid #C8C8C8; border-radius: 50px; align-items: center; display: flex;
    justify-content: center;
}
.best_text {display: flex; margin-top: 76px; margin-bottom: -15px;}
.top_text_01 .num, .top_text_02 .num, .top_text_03 .num {color: #000; font-size: 1.063rem; font-weight: 450;}
.best_text .top_text_01 {margin-left: 224px;}
.best_text .top_text_02 {margin-left: 264px;}
.best_text .top_text_03 {margin-left: 260px;}
.best_text_bottom .bottom_text_01 .black, .best_text_bottom .bottom_text_02 .black, .best_text_bottom .bottom_text_03 .black {
    color: #000; line-height: 160%;
}
.best_text_bottom {display: flex;}
.best_text_bottom .bottom_text_01 {margin-left: 193px; margin-top: 13px;}
.best_text_bottom .bottom_text_02 {margin-left: 199px; margin-top: 13px;}
.best_text_bottom .bottom_text_03 {margin-left: 193px; margin-top: 13px;}


.best_text_bottom .view_more_gray_02 {
    color: #7E7E7E; font-size: 0.75rem; width: 110px; height: 39px; margin-left: 80px; margin-top: 35px;
    border: 1px solid #cecece; display: inline-block; font-weight: 300; transition: 0.3s ease;
    letter-spacing: 0.5px; align-items: center; display: flex; justify-content: center;
}
.best_text_bottom .view_more_gray_02:hover {
    color: #fff; font-size: 0.75rem; width: 110px; height: 39px; background-color: #2D2D2D;
    border: 1px solid #fff; display: inline-block; font-weight: 350;
    letter-spacing: 0.5px; align-items: center; display: flex; justify-content: center;
}


/* 퍼퓸 카테고리 ---------------------------------------------------------- */
.best_flex {display: flex;}
.best_fur {padding: 105px 0 51px 0; text-align: center;}
.best_fur p {color: #7E7E7E; font-size: 0.875rem; margin-bottom: 15px;}
.best_fur h2 {font-size: 2.5rem; font-family: "Amethysta", serif;}


/* 각 카드(슬라이드) 크기 고정 */
.perfume_swiper .swiper-slide {
    margin-top: 55px;
    width: 379px !important;
    height: 501px;
    position: relative;
    overflow: hidden;
}

/* 이미지 고정 크기 */
.perfume_swiper .swiper-slide img {
    width: 379px;
    height: 501px;
    object-fit: cover;
    display: block;
    transition: 0.4s ease;
}

/* 어두운 오버레이 */
.perfume_swiper .swiper-slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0); /* 기본 투명 */
    transition: 0.4s ease;
    z-index: 3;
    pointer-events: none;
}

/* hover 시 어둡게 */
.perfume_swiper .swiper-slide:hover::after {
    background: rgba(0,0,0,0.65);
}

/* 텍스트 박스 */
.perfume_swiper .text {
    position: absolute;
    top: 28%;
    width: 100%;
    text-align: center;
    transition: 0.4s ease;
    opacity: 0;
    z-index: 5;
    pointer-events: none;
}

.perfume_swiper .text .new {
    font-size: 1.063rem;
    color: #fff;
    margin-bottom: 25px;
    display: inline-block;
    opacity: 0;
    font-weight: 350;
}

.perfume_swiper .text p {
    color: #fff;
    margin-bottom: 13px;
    font-size: 0.875rem;
    opacity: 0;
    font-weight: 300;
}

.perfume_swiper .text p:nth-last-child(2) {
    margin-bottom: 40px;
}

.perfume_swiper .text .detail {
    line-height: 160%;
    margin-top: 20px;
}

/* 버튼 */
.view_more_new_02 {
    pointer-events: auto; /* 버튼 hover 가능 */
    color: #fff;
    font-size: 0.75rem;
    width: 110px;
    height: 39px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-left: 130px;
    transition: 0.3s ease;
}

.view_more_new_02:hover {
    color: #000;
    background-color: #fff;
    font-weight: 400;
}

.perfume_swiper .swiper-slide:hover .text,
.perfume_swiper .swiper-slide:hover .text p,
.perfume_swiper .swiper-slide:hover .text .new,
.perfume_swiper .swiper-slide:hover .view_more_new {
    opacity: 1;
}
